body{
    margin: 0;
    background-color: #385972;
}

.header{
    width: 100%;
    border-bottom: 2px solid #000;
    /* display: flex; 
    flex-direction: row; */
    /* padding: 10px;
    padding-bottom: 0; */
    /* padding-top: 10px; */
    background-color: deepskyblue;
}

.header .logo{
    height: 75px;
    position: absolute;
    right: 0;
    top: -25px;
}

.profile{
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin:0;
}

.profile div{
    font: 700 20px monospace;
    padding: 10px 15px;
    color: aliceblue;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid #1565C0;
}

.profile div:hover{
    background-color:  #1565C0;
}

.profile img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    /* padding-right: 5px; */
}

.title{
    font: 650 25px monospace;
    margin-top: 20px;
    /* border: 1px solid #000; */
    border-left: 5px solid royalblue;
    padding-left: 10px;
    padding-bottom: 3px;
    width: 200px;
    margin-left: 20px;
    background-color: #b3d0fd;
    color: rgb(39, 22, 22);
}

.container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: calc(100% - 40px);
}

.container div{
    width: 50%;
}

.instraction{
    background-color: rgba(14, 195, 250, 0.342);
    color: #bbcfeb;
    font: 700 20px monospace;
    overflow-y: auto;
    height: calc(100vh - 200px);
    border-right: 5px solid #bbcfeb;
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #bbcfeb; 
  }

  ::-webkit-scrollbar-thumb {
    background: #1565C0; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: deepskyblue; 
  }
ol{
    margin: 20px;
}

li{
    padding: 10px;
}

.form{
    padding: 0 10px;
}

.form textarea{
    width: calc(100% - 12px);
    resize: none;
    height: 30vh;
    background-color: #b0c5e2;
    outline: none;
    border: 1px solid #333;
    padding: 10px;
    font: 700 18px monospace;
    border-radius: 5px;
    transition: all 0.5s;
}
.form textarea:focus{
    box-shadow: 0 0 0 2px rgba(214, 214, 240, 0.5);
}

.form-label{
    font: 600 20px monospace;
    margin-bottom: 10px;
    color: rgba(214, 214, 240, 0.849);
    margin-left: 5px;
    width: max-content;
}

.form-label2{
    font: 600 20px monospace;
    margin-bottom: 10px;
    color: deepskyblue;
    margin-left: 5px;
    width: max-content;
    float: right; 
    margin-top: -35px; 
    text-align: right;
}


input[type="checkbox"]{
    margin-top: 5px;
}

.cofirm-label{
    font: 600 17px monospace;
    color: #aaa;
}

.submit-button{
    width: max-content;
    font: 600 20px monospace;
    outline: none;
    padding: 3px 10px;
    margin-top: 10px;
    margin-right: -10px;
    background-color: rgb(211, 217, 223);
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}



