body{
    margin: 0;
    background-color: #385972;
}

.header{
    width: 100%;
    border-bottom: 2px solid #000;
    /* display: flex; 
    flex-direction: row; */
    /* padding: 10px;
    padding-bottom: 0; */
    /* padding-top: 10px; */
    background-color: deepskyblue;
}

.header .logo{
    height: 75px;
    position: absolute;
    right: 0;
    top: -25px;
}

.header .items{
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    margin:0;
    width: calc(100% - 140px);
}

.header .items div{
    font: 700 20px monospace;
    padding: 10px 15px;
    color: aliceblue;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid #1565C0;
}

.header .items div:hover{
    background-color:  #1565C0;
}

.header .items img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    /* padding-right: 5px; */
}

.title{
    font: 650 25px monospace;
    margin-top: 20px;
    /* border: 1px solid #000; */
    border-left: 5px solid royalblue;
    padding-left: 10px;
    padding-bottom: 3px;
    width: 200px;
    margin-left: 20px;
    background-color: #b3d0fd;
    color: rgb(39, 22, 22);
}

.debit-cedit{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: calc(100% - 40px);
}

.debit-cedit .left{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: calc(100vh - 200px);
    overflow-y: auto;
    width: calc(70% - 5px);
}

.debit-cedit .left .items{
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(14, 195, 250, 0.342);
    color: #bbcfeb;
    cursor: pointer;
    transition: all 0.5s;
    font: 700 20px monospace;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.debit-cedit .left .items:hover{
    background-color: rgba(14, 195, 250, 0.726);
    color: #d9e4f3;
    transform: scale(1.04);
}

.debit-cedit .right{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow-y: auto;
    width: calc(30% - 5px);
    margin-left: 10px;
    /* border: 2px solid #eee; */
    border-right: none;
}

.debit-cedit .right .items{
    /* display: flex;
    flex-direction: row; */
    font: 700 15px monospace;
    text-align: center;
    background-color: rgba(14, 195, 250, 0.363);
    color: #bbcfeb;
    transition: all 0.5s;
    border-collapse: collapse;
    cursor: pointer;
    /* align-items: center;
    justify-content: center; */
}

.debit-cedit .right .items tr:nth-child(even){
    background-color: #385972;
    /* color: rgb(39, 22, 22); */
}

/* .debit-cedit .right .items tr:hover{
    background-color: rgba(14, 195, 250, 0.726);
    color: #d9e4f3;
    transform: scale(1.01); 
} */

/* .debit-cedit .right .items div{
    width: 15%;
    border: 0.5px solid #000; 
    height: 40px;
} */

.debit-cedit .right .items td, th{
    border: 1px solid #eee;
}

.debit-cedit .right .items .item-name{
    width: 70%;
}

.debit-cedit .right .items .amount{
    width: 62.391px;
    padding-left: 3px;
    padding-right: 3px;
}

.debit-cedit .right .items .items-header{
    background-color: #b3d0fd;
    color: rgb(39, 22, 22);
    position: sticky;
    top: -1px;
}

.debit-cedit .right .items .items-footer{
    background-color: #b3d0fd!important;
    color: rgb(39, 22, 22);
    position: sticky;
    bottom: -1px;
}

/* .debit-cedit .right .items .items-header:hover{
    background-color: #b3d0fd;
    color: rgb(39, 22, 22);
} */

/* .debit-cedit .right .items th{
    border: 1px solid #040f20;
} */

.debit-cedit .right .discount{
    font: 700 15px monospace;
    color: rgb(39, 22, 22);
    width: max-content;
    margin: auto;
}

.debit-cedit .right .discount label{

}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #bbcfeb; 
  }

  ::-webkit-scrollbar-thumb {
    background: #1565C0; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: deepskyblue; 
  }
